@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
/* } */

body {
  /* color: rgb(var(--foreground-rgb)); */
  font-family: "Merriweather", serif;
  background-color:#E9EBF2 ;
  color: rgba(0, 0, 0, 0.7);
  /* min-height: 100vh; */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .background-color{
    background-color:#E9EBF2;
  }
  .button-blue{
    font-size: 1.5rem;
    padding: .75rem 1.75rem;
    border-radius: 10px;
    background-color: rgb(59, 130, 246);
    color: white;
  }
  .button-blue:hover{
    background-color: rgb(37, 99, 235);
  }
}

@layer base {
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-2xl font-semibold mt-8 sticky top-0 py-1 background-color;
  }
  h3{
    @apply text-xl font-semibold mt-10 pb-0
  }
  ul{
    @apply
    list-disc list-inside
  }
  ol{
    @apply list-decimal list-inside
  }

  p {
    @apply my-3 text-sm leading-5 md:text-lg;
  }
  li{
    @apply my-3 text-sm md:text-lg leading-5 text-balance;
  }
  p code {
    @apply bg-slate-300 md:text-lg font-mono;
  }
  pre div code{
    @apply text-sm md:text-lg !important ;
  }
  li code{
    @apply bg-slate-300 font-mono;
  }
  pre {
    @apply rounded-xl;
  }
  input{
    @apply p-3 outline-blue-500 rounded 
  }
  textarea{
    @apply p-3 outline-blue-500 rounded
  }
}

@layer components {
  .page-container {
    @apply max-w-[1260px] w-[90%] mx-auto py-5 ;
  }
}
